In [1]:
import pandas

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (0.20.3)
Requirement already satisfied: python-dateutil>=2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.6.1)
Requirement already satisfied: pytz>=2011k in c:\users\user\anaconda3\lib\site-packages (from pandas) (2017.2)
Requirement already satisfied: numpy>=1.7.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.13.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2->pandas) (1.11.0)

In [3]:
import pandas as pd

In [4]:
s = pd.Series([12, 22, 18, 25])

In [5]:
s

0    12
1    22
2    18
3    25
dtype: int64

In [7]:
s = pd.Series([12, 22, 18, 25], index = ['A', 'B', 'C', 'D'])

In [8]:
s

A    12
B    22
C    18
D    25
dtype: int64

In [9]:
s['C']

18

In [10]:
s['B':'D']

B    22
C    18
D    25
dtype: int64

In [11]:
# Dataframe

In [16]:
people = [[22, 'F'], [12, 'M'], [18, 'F'], [30, 'F']]
names = ['Anna', 'Bob', 'Carol', 'Dave']
fields = ['Age', 'Gender']

In [17]:
df = pd.DataFrame(people, index = names, columns = fields)
df

       Age Gender
Anna    22      F
Bob     12      M
Carol   18      F
Dave    30      F

In [18]:
df['Age']

Anna     22
Bob      12
Carol    18
Dave     30
Name: Age, dtype: int64

In [19]:
df['Gender']

Anna     F
Bob      M
Carol    F
Dave     F
Name: Gender, dtype: object

In [20]:
df.loc['Anna']

Age       22
Gender     F
Name: Anna, dtype: object

In [21]:
df.loc[['Anna', 'Bob']]

      Age Gender
Anna   22      F
Bob    12      M

In [22]:
df = pd.read_csv('resources/titanic.csv')

FileNotFoundError: File b'resources/titanic.csv' does not exist

In [23]:
df.head()

       Age Gender
Anna    22      F
Bob     12      M
Carol   18      F
Dave    30      F

In [27]:
df.shape
(891, 12)

(891, 12)

In [28]:
df.columns

Index(['Age', 'Gender'], dtype='object')

In [30]:
df.describe()

             Age
count   4.000000
mean   20.500000
std     7.549834
min    12.000000
25%    16.500000
50%    20.000000
75%    24.000000
max    30.000000

In [31]:
df['Age'].mean()

20.5